.navbar {
    position: static;
    top: 0;
    width: 100%;
}

footer {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 3em;
    font-size: small;
    text-align: center;
    background-color: #8fa9ea;
}

#search-bar {
    background-color: #8fa9ea;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar button {
    background-color: rgba(192, 192, 192, 0.952);
    color: black;
}

.footprint {
    width: 100%;
    margin: 0;
    padding: 0;
}

.footprint ul {
    list-style: none;
    margin: auto;
}

#footprint_list li {
    float: left;
    padding: 3px;
}

.box1 {
    position: absolute;
    width: 100%;
    box-sizing: content-box;
}

.box2 {
    position: relative;
    float: bottom;
}

/*#h1{*/
/*    margin:30px 10px 10px 35px;*/
/*    float: left;*/
/*    text-align: left;*/
/*    position: relative;*/
/*}*/

/*#price{*/
/*    margin:30px 35px 10px 10px;*/
/*    float: right;*/
/*    text-align: right;*/
/*    position: relative;*/
/*}*/

/*#location{*/
/*    margin:30px 10px 10px 35px;*/
/*    float: bottom;*/
/*    text-align: left;*/
/*}*/

#name {
    text-align: left;
    float: left;
    font-weight: 500;
    font-size: 24px;
}

#price {
    float: right;
    text-align: right;
    font-weight: 500;
    font-size: 24px;
}

#location {
    float: bottom;
    text-align: left;
    font-size: small;
    font-weight: 350;
}

.footprint {
    text-decoration: none;
    color: gray;
}

#footprint_bar {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

/*#reviews {*/
/*    list-style: none;*/
/*    box-shadow: gray;*/
/*    -webkit-box-shadow: 0px 0px 2px gray;*/
/*    -moz-box-shadow: 0px 0px 2px gray;*/
/*    box-shadow: 0px 0px 2px gray;*/
/*    border-radius: 10px;*/
/*}*/

#reviews p {
    font-size: 12px;
}

body {
    background-color: darkgray;
}

.reviewer {
    border-bottom-style: solid;
    margin: auto;
    text-align: center;
}

#reviews {
    border-style: solid;
    border-radius: 5px;
}

/*#review-title{*/
/*    float: left;*/
/*    text-align: left;*/
/*}*/

/*#add-review{*/
/*    float: right;*/
/*    text-align: right;*/
/*}*/

.col-md-4 * {
    margin-right: 30px;
    margin-left: 15px;
}

.col-md-8 * {
    margin-left: 30px;
}


.restaurant-picture {
    border-radius: 8px;
    width: 100%;
    margin-left: 20px;
}

#review-title{
    float: left;
    text-align: left;
}

#add-review{
    float: right;
    text-align: right;
}