.navbar {
    position: static;
    top: 0;
    width: 100%;
}

footer {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 3em;
    font-size: small;
    text-align: center;
    background-color: #ba80fb;
}

#search-bar {
    background-color: #ba80fb;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar button {
    background-color: rgba(192, 192, 192, 0.952);
    color: black;
}

#top-restaurants {
    background-color: #f8f9fa;
    padding-bottom: 5px;
    padding-top: 5px;
}

#category-bar {
    background-color: #f8f9fa;
    text-align: center;
    padding-bottom: 5px;
}

#category-bar img {
    border: 1px solid black;
    border-radius: 50%;
}

#sort-by {
    border-top: 2px solid #ba80fb;
    padding-top: 10px;
    background-color: #e6e6e6;
    text-align: right;
}

main {
    background-color: #e6e6e6;
    min-height: 800px;
    padding-top: 10px;
    
}

main .col-3 {
    padding-left: 20px;
    padding-right: 20px;
}

main .row {

    padding-bottom: 20px;
}

.restaurant-facts {
    text-align: center;
}

.box {
    border-radius: 10px;
    padding: 5px;
    width:32%;
    display: inline-block;
    border: 3px solid #ba80fb;
  }
  
.box p {
    color: #ba80fb;
    margin: 0;
  }

.details-box{
    background-color: #ba80fb;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.details-box p {
    color: white;
    margin: 0;
    font-weight: bold;
}

#filter-header {
    text-align: center;
    background-color: #ba80fb;
    color: white;
}

.contact-info {
    background-color: #f8f9fa;
    font-size: small;
    padding-bottom: 10px;
}

#social-media {
    height: 100px; /* set a fixed height */
    text-align: center;
    display: flex; /* use flexbox to align items */
    align-items: flex-end; /* align items to the bottom */
    justify-content: flex-end;
}

#social-media img {
    margin-right: 5px;
}


  
